.container {
  max-width: 500px;
}
.directory {
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.folder::before {
  content: "&#128194";
}

.content {
  margin-left: 25px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
